@define-color bg #060114;
@define-color fg #D7DBE9;
@define-color gray1 #a1c4e4;
@define-color gray2 #66656b;
@define-color gray3 #757b9d;
@define-color gray4 #c4f6ff;
@define-color gray5 #aaa2ce;
@define-color fg_bright #f3f4ff;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}